<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar alumno</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateStudentFg" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-input formControlName="datebirth" type="date" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre del padre</ion-label>
        <ion-input formControlName="fathername" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre de la Madre</ion-label>
        <ion-input formControlName="mothername" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Grado</ion-label>
        <ion-input formControlName="grade" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sección</ion-label>
        <ion-input formControlName="section" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha de Ingreso</ion-label>
        <ion-input formControlName="dateadmission" type="date" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block">Actualizar</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-list>
</ion-content>
